body {
    margin: 0;
    font-family: Nunito, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000
}
.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.enviar_form{
    margin-left: 100px;
    margin-right: auto;
}
.list-group-item{
    background-color: lightslategray;
}
#contatos{
    width:1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background: white;
}
.invisible{
    visibility: hidden;
}

.fade-out {
    animation: fadeout ease 10s;
}
@keyframes fadeout {
    100% {opacity:0;}
    0% {opacity:1;}
}
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
#botaoExcluir{
    margin-top: 7px!important;
}
#botaoEditar{
    margin-top: 7px!important;
    margin-left: 5px !important;
}
.apaga{
    opacity: 0;
    transition: 0.5s;
}
#tituloIndex{
    width:1300px;
    margin-left: 500px;
    margin-right: auto;
    margin-top: 0px;
    color: red !important;
}
#paginacao{
    width:1500px;
    margin-left: 550px;
    margin-right: auto;
    margin-top: 0px;
    color: red !important;
    background-color: black !important;
}