{% extends 'base.html.twig' %}
{% block Navbar %}
    <h1>Tela de Cadastro</h1>
{% endblock %}
{% block body %}

<form data-form>
    <div class="container">
        <div class="form-group">
            <label>Nome: </label>
            <input type="text" class="form-control" placeholder="Digite seu nome" />
        </div>
        <div class="form-group">
            <label>Email: </label>
            <input type="text" class="form-control" placeholder="Digite seu email" />
        </div>
        <div class="form-group">
            <label>Numero: </label>
            <input type="text" class="form-control" placeholder="Digite seu numero" />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
{% endblock %}