{% extends 'base.html.twig' %}
{% block Navbar %}
<<<<<<< HEAD
    <h1>Tela de Cadastro</h1>
{% endblock %}
{% block body %}

    <div class="col col-sm-12 col-md-5 col-mb-5">
        <div class="form-group ">
            <div class="input-group">
                <input id="nome_cadastro" >
            </div>
        </div>
    </div>

{% endblock %}
=======
    <h2> Listagem de contatos</h2>
{% endblock %}
{% css %}

{% endblock %}
{% block body %}

{% endblock %}
>>>>>>> d38097cbe6eec66dc1b0c4968db54a8135c2beca
