{% extends 'base.html.twig' %}
{% block Navbar %}
<h2 id="tituloIndex"> Listagem de contatos</h2>
{% endblock %}
{% block body %}

  <table class="table" id="contatos">
    <thead id="naoTemNada">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Numero</th>
      </tr>
    </thead>
    <tbody id="lista_contatos"></tbody>
  </table>

  <span>
    <nav id="paginacao">
  <ul class="pagination">



  </ul>
</nav>
  </span>


{% endblock %}
{% block javascripts %}
<script type="module" src="js/index.js"></script>
{% endblock %}
