{% extends 'base.html.twig' %}
{% block Navbar %}
<h2> Listagem de contatos</h2>
{% endblock %}
{% block body %}
<div>
    <div id="contatos"></div>
</div>
{% endblock %}
{% block javascripts %}
<script type="module" src="js/listagem.js"></script>
{% endblock %}