<<<<<<< HEAD
{% extends 'base.html.twig' %}
{% block Navbar %}
<h2> Listagem de contatos</h2>
{% endblock %}
{% block body %}
<div>
    <ul id="contatos"> <!-- Contatos gerados por js vão aqui-->
    </ul>
</div>
    <th><a href="cadastro.html.twig"></a> </th>
=======
{% extends 'base.html.twig' %}
{% block Navbar %}
<h2> Listagem de contatos</h2>
{% endblock %}
{% block body %}
<div>
    <ul id="contatos">
    </ul>
</div>
>>>>>>> 2c431dc30736db83c8cbb185643082e52298b71c
{% endblock %}