{% extends 'base.html.twig' %}
{% block Navbar %}
<h2> Listagem de contatos</h2>
{% endblock %}
{% block body %}

  <table class="table" id="contatos">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Numero</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody id="lista_contatos"></tbody>
  </table>

{% endblock %}
{% block javascripts %}
<script type="module" src="js/index.js"></script>
{% endblock %}
